@media (max-width: 320px) {
   /* header */
   .header{ padding-inline: 8px;}
.header-nav{background-color: #B53B1B;
position: fixed;
top: 80px;
left: -100%;
width: 240px;
padding: 34px;
transition: .4s;
}
.show{left: 0;}
.header-ul{flex-direction: column;
row-gap: 24px;}
.burger-menu {
    display: block;}

}